baseFont = 'Calibri', sans-serif
baseColor = #494D40
fontSize = 18px
lineHeight = 1.4
lightColor = #FFF
accentColor = #774268
themeColor = #C0A2C5
secondColor = #EBD3E3
changeColor = 20%
siteMinWidth = 320px
siteMaxWidth = 1920px
stickyFooterHeight = 120px
stickyHeaderHeight = 150px

xs = 480px
sm = 767px
md = 991px
lg = 1199px
