.content__section_color_lightColor
  font-size round(fontSize * 2)
  text-transform uppercase
  margin 30px 0
  text-align center
  color lightColor
  padding-top 20px
  +responsive(sm)
    margin 10px 
    font-size round(fontSize * 1.7)
  +responsive(xs)
    font-size round(fontSize * 1.5)
    margin 10px 0
