.social__link
  border-radius(50%)
  background-color secondColor3
  color themeColor
  font-size round(fontSize * 1.8)
  text-align center
  width 45px
  height 45px
  margin 0 7px
  +responsive(sm)
    font-size round(fontSize * 1.5)
    height 35px
    width 35px
  +responsive(xs)
    font-size 25px
    margin 0 3px
  &:focus
    outline 0