footer.site__footer.footer
  .footer__blockcolor
    .footer__text 	&copy Все права защищены. Фабрика праздников Екатерины Рябцовой "Екатерининский размах".
    .footer__text_display
      .footer__text_display_inline Тел.: 
      .footer__text_display_inline +7 909 000 00 00
      .footer__text_display_inline E-mail: 
      .footer__text_display_inline namename@mail.ru