header.site__header.header
  .header__blockcolor
    .header__group
      .header__phone.header__element.hidden-lg.hidden-md +7 900 000 00 00
      .social.header__element
        a.social__link(href='https://www.instagram.com/riabtsovaekateri/' target="_blank")
          i.fa.fa-vk(aria-hidden='true')
        a.social__link(href='https://www.instagram.com/riabtsovaekateri/' target="_blank")
          i.fa.fa-instagram(aria-hidden='true')
        a.social__link(href='https://www.instagram.com/riabtsovaekateri/' target="_blank")
          i.fa.fa-instagram(aria-hidden='true')
        a.social__link(href='https://www.instagram.com/riabtsovaekateri/' target="_blank")
          i.fa.fa-instagram(aria-hidden='true')
        button.header__button
          i.fa.fa-bars(aria-hidden='true')
  .header__group
    .header__logo.header__element
      a(href='#')
        img(src='assets/img/logo/logo.png')
    .header__phone.header__element.hidden-xs.hidden-sm +7 900 000 00 00
    button.header__zakazZvonka.header__element.hidden-xs Заказать звонок
    button.button.header__Zakaz.header__element Оставить заявку
    .header__ZakazOtstyp
  .container-fleid
    .row
      .hidden-xs.col-sm-12
        nav.header__nav.header__nav_view_visible
          .menu-header-nav-container
            ul.header__list.header__list_view_visible
              li
                a(href='#') Организация событий 
                ul
                  li
                    a(href='#') Свадьба
                  li
                    a(href='#') Детский праздник
                  li
                    a(href='#') День рождения и юбилей
                  li
                    a(href='#') Корпоратив
                  li
                    a(href='#') Выпускной
              li
                a(href='#') Кэнди бары
                ul
                  li
                    a(href='#') Тематические детские
                  li
                    a(href='#') Тематические взрослые
                  li
                    a(href='#') Свадебные
              li
                a(href='#') Подарочные наборы
                ul
                  li
                    a(href='#') Для мужчин
                  li
                    a(href='#') Для женщин
                  li
                    a(href='#') Для детей
              li
                a(href='#') Цены
              li
                a(href='#') Портфолио
  .header__formZakaz Плагина обратной формы
  .header__formZakazZvonka Форма заказа звонка
  .header__formOtziv Форма отзова
  .header__formClose &#215;
  nav.header__nav.header__nav_view_hidden
    .menu-header-nav-container
      ul.header__list.header__list_view_hidden
        li
          a(href='#') Организация событий
          ul
            li
              a(href='#') Свадьба
            li
              a(href='#') Детский праздник
            li
              a(href='#') День рождения и юбилей
            li
              a(href='#') Корпоратив
            li
              a(href='#') Выпускной
        li
          a(href='#') Кэнди бары
          ul
            li
              a(href='#') Тематические детские
            li
              a(href='#') Тематические взрослые
            li
              a(href='#') Свадебные
        li
          a(href='#') Подарочные наборы
          ul
            li
              a(href='#') Для мужчин
            li
              a(href='#') Для женщин
            li
              a(href='#') Для детей
        li
          a(href='#') Цены
        li
          a(href='#') Портфолио