.header__logo
  a
    &:focus
      outline 0
    &:hover
      text-decoration none
    img
      max-width 335px
      width 100%
      height auto
      +responsive(lg)
        max-width 255px
      +responsive(sm)
        margin-bottom 5px
      +responsive(xs)
        max-width 200px