.content__img_float_right
  +responsive(sm)
    text-align center 
  img
    float right
    max-width 400px
    margin-left 50px
    +responsive(sm)
      float inherit
      max-width 100%
      height auto
      margin inherit