.content__caption
  font-size round(fontSize * 2)
  padding 10px 30px
  +responsive(lg)
    font-size round(fontSize * 1.8)
  +responsive(xs)
    font-size 18px
    text-align center
    font-weight bold
.content__event
  +responsive(xs)
    padding-left 0!important
    padding-right 0!important