.metaslider
  .slides
    .caption-wrap
      .caption
        font-family titleFont
        font-size round(fontSize * 1.5)
        text-transform uppercase
        padding 15px 20px
        +responsive(sm)
          font-size round(fontSize * 1.1)
          padding 10px 15px
