.header__phone
  font-size round(fontSize * 1.3)
  font-weight bold
  +responsive(md)
    font-size round(fontSize * 1.1)
    position absolute
    top 8px
    left 45vw
  +responsive(xs)
    left 40vw
    font-size 17px