.header__list_view_hidden
  text-align left !important
  & > li
    vertical-align top
    & > a
      margin 0
      padding 0
      text-align left !important
    ul
      & > li
        list-style-type none
        font-size round(fontSize * .7)
        color themeColor
        
        & > a
          font-size round(fontSize * .9)
          &:hover
            color themeColor