.header__nav_view_hidden
  background-color secondColor
  bottom 0
  display none
  height 100%
  left 0
  opacity .9
  overflow scroll
  padding-top 25px
  position fixed
  right 0
  top 0
  width 100%
  z-index 101