.content__list
  margin-top 10px
  line-height 2
  border-bottom 1px solid accentColor
  margin-bottom 10px
  +responsive(lg)
    line-height 1.8
  +responsive(xs)
    line-height 1.4
    text-align center
  ul
    font-size 24px
    +responsive(lg)
      font-size 22px
    +responsive(xs)
      font-size 20px
    li
      font-size 18px
      +responsive(lg)
        font-size round(fontSize * 0.9)
  p
    font-size 22px
    font-weight bold
    +responsive(lg)
      font-size 20px
    +responsive(xs)
      font-size 18px
      text-align center