.content__tit
  font-size round(fontSize * 1.4)
  margin 30px 0
  text-align center
  color accentColor
  padding 0 10px
  +responsive(lg)
    font-size round(fontSize * 1.1)
  +responsive(sm)
    margin 20px 0
  +responsive(xs)
    margin 10px 0