.footer__text
  color accentColor
  font-size round(fontSize * .8)
  padding-top 30px
  margin-left 20px
  +responsive(sm)
    font-size round(fontSize * .6)
.footer__text_display_inline
  float left
  padding-right 5px
  color accentColor
  font-size round(fontSize * .8)
  +responsive(sm)
    font-size round(fontSize * .6)
.footer__text_display
  margin-left 20px