a {
  color: #494d40;
}
a:hover,
a:focus,
a:active {
  color: #774268;
  text-decoration: none;
}
.body {
  background-color: #fff;
  font-family: 'Calibri', sans-serif;
  font-size: 18px;
  line-height: 1.4;
  color: #494d40;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}
.button_algin_center {
  text-align: center;
  padding-bottom: 70px;
}
.button {
  color: #774268;
  font-size: 25px;
  border: 3px solid #ebd3e3;
  padding: 10px 30px;
  border-radius: 50px;
  background: #fff;
}
@media only screen and (max-width: 480px) {
  .button {
    padding: 5px 20px;
  }
}
.button:hover {
  background-color: #ebd3e3;
}
.content__avatar {
  text-align: center;
  margin: 30px 0;
}
.content__caption {
  font-size: 36px;
  padding: 10px 30px;
}
@media only screen and (max-width: 1199px) {
  .content__caption {
    font-size: 32px;
  }
}
@media only screen and (max-width: 480px) {
  .content__caption {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
  }
}
@media only screen and (max-width: 480px) {
  .content__event {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
.content__content {
  text-align: justify;
  padding: 10px 30px;
}
@media only screen and (max-width: 1199px) {
  .content__content {
    font-size: 16px;
  }
}
.content__delimiter {
  border-bottom: 1px solid #c0a2c5;
  margin: 70px 15px;
  text-align: center;
}
@media only screen and (max-width: 991px) {
  .content__delimiter {
    margin: 50px 15px;
  }
}
@media only screen and (max-width: 480px) {
  .content__delimiter {
    margin: 20px 15px;
  }
}
.content__delimiter img {
  max-width: 70px;
  margin-bottom: -40px;
}
.content__fiesta {
  font-size: 27px;
  margin: 30px 0;
}
@media only screen and (max-width: 767px) {
  .content__fiesta {
    font-size: 22px;
  }
}
.content__fiesta_text-transform_uppercase {
  text-transform: uppercase;
}
.content__fio {
  color: #fff;
  margin: auto;
  text-align: center;
  padding-bottom: 50px;
}
.content__form {
  text-align: center;
}
.content__form div form p input {
  border: 3px solid #ebd3e3 !important;
  background-color: #fff !important;
  color: #774268 !important;
  border-radius: 50px !important;
  padding: 10px 30px !important;
}
.content__form div form p input:hover {
  background-color: #ebd3e3 !important;
}
.content__form div form p label {
  color: #494d40 !important;
  font-family: 'Calibri', sans-serif !important;
  font-weight: normal !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
  max-width: cals(100% -20px) !important;
}
.content__form div form p label span input {
  background-color: #ebd3e3 !important;
  border: none !important;
  border-radius: 10px !important;
  height: 40px !important;
  width: cals(100% -20px) !important;
  max-width: 420px !important;
  padding: 10px 15px !important;
}
@media only screen and (max-width: 480px) {
  .content__form div form p label span input {
    max-width: 300px !important;
    height: 30px;
    padding: 0 15px !important;
  }
}
.content__form div form p label span textarea {
  background-color: #ebd3e3 !important;
  border: none !important;
  border-radius: 10px !important;
  width: cals(100% -20px) !important;
  padding: 10px !important;
  color: #774268 !important;
  max-width: 420px !important;
}
@media only screen and (max-width: 480px) {
  .content__form div form p label span textarea {
    max-width: 300px !important;
    margin: 0 !important;
  }
}
.content__foto img {
  width: 100%;
  height: auto;
}
@media only screen and (max-width: 767px) {
  .content__img_float_right {
    text-align: center;
  }
}
.content__img_float_right img {
  float: right;
  max-width: 400px;
  margin-left: 50px;
}
@media only screen and (max-width: 767px) {
  .content__img_float_right img {
    float: inherit;
    max-width: 100%;
    height: auto;
    margin: inherit;
  }
}
.content__img {
  text-align: center;
  margin: 20px 0;
}
@media only screen and (max-width: 767px) {
  .content__img {
    margin: 10px 0;
  }
}
.content__img img {
  max-width: 100%;
  height: auto;
}
.content__link {
  text-align: center;
  margin: 10px 0;
}
.content__link > a {
  font-size: 14px;
  color: #774268;
}
.content__list {
  margin-top: 10px;
  line-height: 2;
  border-bottom: 1px solid #774268;
  margin-bottom: 10px;
}
@media only screen and (max-width: 1199px) {
  .content__list {
    line-height: 1.8;
  }
}
@media only screen and (max-width: 480px) {
  .content__list {
    line-height: 1.4;
    text-align: center;
  }
}
.content__list ul {
  font-size: 24px;
}
@media only screen and (max-width: 1199px) {
  .content__list ul {
    font-size: 22px;
  }
}
@media only screen and (max-width: 480px) {
  .content__list ul {
    font-size: 20px;
  }
}
.content__list ul li {
  font-size: 18px;
}
@media only screen and (max-width: 1199px) {
  .content__list ul li {
    font-size: 16px;
  }
}
.content__list p {
  font-size: 22px;
  font-weight: bold;
}
@media only screen and (max-width: 1199px) {
  .content__list p {
    font-size: 20px;
  }
}
@media only screen and (max-width: 480px) {
  .content__list p {
    font-size: 18px;
    text-align: center;
  }
}
.content__name_text-transform_uppercase {
  text-transform: uppercase;
  font-size: 23px;
  margin: 30px 0;
  display: inline;
}
@media only screen and (max-width: 1199px) {
  .content__name_text-transform_uppercase {
    font-size: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .content__name_text-transform_uppercase {
    margin: 20px 0;
    text-align: center;
  }
}
@media only screen and (max-width: 480px) {
  .content__name_text-transform_uppercase {
    margin: 10px 0;
  }
}
.content__name {
  font-size: 23px;
  margin: 30px 0;
}
@media only screen and (max-width: 1199px) {
  .content__name {
    font-size: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .content__name {
    margin: 20px 0;
    text-align: center;
  }
}
@media only screen and (max-width: 480px) {
  .content__name {
    margin: 10px 0;
  }
}
.content__overview {
  text-align: justify;
  padding: 0 10px;
}
@media only screen and (max-width: 1199px) {
  .content__overview {
    font-size: 16px;
  }
}
.content__price {
  text-align: center;
  line-height: 2;
}
.content__price ul {
  text-align: center;
}
.content__price_font_16px {
  font-size: 20px;
}
.content__readmore {
  margin-left: 50px;
}
.content__review-text {
  text-align: center;
  max-width: 700px;
  padding: 0 10px;
  margin: auto;
  font-size: 22px;
  color: #774268;
}
@media only screen and (max-width: 1199px) {
  .content__review-text {
    font-size: 16px;
  }
}
.content__review {
  background-image: url("../img/content/fon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 40px;
}
.content__section_color_lightColor {
  font-size: 36px;
  text-transform: uppercase;
  margin: 30px 0;
  text-align: center;
  color: #fff;
  padding-top: 20px;
}
@media only screen and (max-width: 767px) {
  .content__section_color_lightColor {
    margin: 10px;
    font-size: 31px;
  }
}
@media only screen and (max-width: 480px) {
  .content__section_color_lightColor {
    font-size: 27px;
    margin: 10px 0;
  }
}
.content__section {
  font-size: 36px;
  text-transform: uppercase;
  margin: 30px 0;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .content__section {
    margin: 10px;
    font-size: 31px;
  }
}
@media only screen and (max-width: 480px) {
  .content__section {
    font-size: 27px;
    margin: 10px 0;
  }
}
.content__tit {
  font-size: 25px;
  margin: 30px 0;
  text-align: center;
  color: #774268;
  padding: 0 10px;
}
@media only screen and (max-width: 1199px) {
  .content__tit {
    font-size: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .content__tit {
    margin: 20px 0;
  }
}
@media only screen and (max-width: 480px) {
  .content__tit {
    margin: 10px 0;
  }
}
.cycle-pager-active {
  color: #c0a2c5 !important;
}
.footer__blockcolor {
  background: -webkit-linear-gradient(top, #fff 5%, #c0a2c5 30%);
  background: linear-gradient(to bottom, #fff 5%, #c0a2c5 30%);
  height: 80px;
  margin-top: 40px;
}
.footer__text {
  color: #774268;
  font-size: 14px;
  padding-top: 30px;
  margin-left: 20px;
}
@media only screen and (max-width: 767px) {
  .footer__text {
    font-size: 11px;
  }
}
.footer__text_display_inline {
  float: left;
  padding-right: 5px;
  color: #774268;
  font-size: 14px;
}
@media only screen and (max-width: 767px) {
  .footer__text_display_inline {
    font-size: 11px;
  }
}
.footer__text_display {
  margin-left: 20px;
}
.header__blockcolor {
  background: -webkit-linear-gradient(bottom, #fff 5%, #ebd3e3 30%);
  background: linear-gradient(to top, #fff 5%, #ebd3e3 30%);
  height: 60px;
}
.header__button {
  display: none;
  background-color: #ebd3e3;
  border: 0;
  color: #c0a2c5;
  font-size: 22px;
  position: fixed;
  top: 5px;
  right: 15px;
}
@media only screen and (max-width: 767px) {
  .header__button {
    display: inline-block;
  }
}
@media only screen and (max-width: 480px) {
  .header__button {
    right: 0;
  }
}
.header__button:focus {
  outline: 0;
}
.header__button:hover {
  color: #774268;
}
.header__element {
  margin: auto;
  padding-left: -10px;
}
.header__formZakaz {
  background-color: #fff;
  bottom: 0;
  display: none;
  height: 100%;
  left: 0;
  opacity: 0.9;
  padding-top: 10px;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 101;
}
.header__formZakazZvonka {
  background-color: #fff;
  bottom: 0;
  display: none;
  height: 100%;
  left: 0;
  opacity: 0.9;
  padding-top: 10px;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 101;
}
.header__formOtziv {
  background-color: #fff;
  bottom: 0;
  display: none;
  height: 100%;
  left: 0;
  opacity: 0.9;
  padding-top: 10px;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 101;
}
.header__formClose {
  font-size: 50px;
  position: fixed;
  top: 0;
  right: 25px;
  color: #774268;
  z-index: 102;
  cursor: pointer;
  display: none;
}
.header__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.header__list_view_hidden {
  text-align: left !important;
}
.header__list_view_hidden > li {
  vertical-align: top;
}
.header__list_view_hidden > li > a {
  margin: 0;
  padding: 0;
  text-align: left !important;
}
.header__list_view_hidden > li ul > li {
  list-style-type: none;
  font-size: 13px;
  color: #c0a2c5;
}
.header__list_view_hidden > li ul > li > a {
  font-size: 16px;
}
.header__list_view_hidden > li ul > li > a:hover {
  color: #c0a2c5;
}
.header__list_view_visible > li {
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.header__list_view_visible > li:hover ul {
  visibility: visible;
}
.header__list_view_visible > li > a {
  margin: 0 5px;
  padding: 8px 15px 5px 10px;
}
@media only screen and (max-width: 991px) {
  .header__list_view_visible > li > a {
    padding: 7px 12px 4px 8px;
  }
}
.header__list_view_visible > li ul {
  visibility: hidden;
  -webkit-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
  background-color: #fff;
  opacity: 0.9;
  width: 200px;
  margin: 20px 0 0 -100px;
  padding: 0;
  position: absolute;
  left: 50%;
  z-index: 10;
  overflow: hidden;
}
@media only screen and (max-width: 991px) {
  .header__list_view_visible > li ul {
    width: 180px;
  }
}
@media only screen and (max-width: 991px) {
  .header__list_view_visible > li ul {
    margin: 20px 0 0 -90px;
  }
}
.header__list_view_visible > li ul li {
  display: block;
  vertical-align: top;
  position: relative;
}
.header__list_view_visible > li ul li a {
  display: block;
  background-color: #fff;
  padding: 3px 0;
}
.header__list_view_visible > li ul li a:focus {
  outline: 0;
}
.header__list_view_visible > li ul li:last-child {
  border: 0;
}
.header__list {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 10px;
  font-size: 21.599999999999998px;
}
@media only screen and (max-width: 991px) {
  .header__list {
    font-size: 20px;
  }
}
.header__list > li:first-child > a {
  border-left: 1px solid #ebd3e3;
}
.header__list > li > a {
  display: block;
  background: #fff;
  text-align: center;
  border-right: 1px solid #ebd3e3;
}
@media only screen and (max-width: 991px) {
  .header__list > li > a {
    font-size: 20px;
  }
}
.header__list > li > a:after {
  font-size: 20px;
  font-weight: bold;
  position: relative;
  top: -1px;
  left: 5px;
}
.header__list > li > a:focus {
  outline: 0;
}
.header__logo a:focus {
  outline: 0;
}
.header__logo a:hover {
  text-decoration: none;
}
.header__logo a img {
  max-width: 335px;
  width: 100%;
  height: auto;
}
@media only screen and (max-width: 1199px) {
  .header__logo a img {
    max-width: 255px;
  }
}
@media only screen and (max-width: 767px) {
  .header__logo a img {
    margin-bottom: 5px;
  }
}
@media only screen and (max-width: 480px) {
  .header__logo a img {
    max-width: 200px;
  }
}
.header__nav_view_hidden {
  background-color: #ebd3e3;
  bottom: 0;
  display: none;
  height: 100%;
  left: 0;
  opacity: 0.9;
  overflow: scroll;
  padding-top: 25px;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 101;
}
.header__nav_view_visible {
  border-bottom: 3px solid #ebd3e3;
  border-top: 1px solid #ebd3e3;
  margin-top: 10px;
}
.header__phone {
  font-size: 23px;
  font-weight: bold;
}
@media only screen and (max-width: 991px) {
  .header__phone {
    font-size: 20px;
    position: absolute;
    top: 8px;
    left: 45vw;
  }
}
@media only screen and (max-width: 480px) {
  .header__phone {
    left: 40vw;
    font-size: 17px;
  }
}
.header__ZakazOtstyp {
  margin-bottom: 5px;
  width: 100vw;
}
.header__zakazZvonka {
  color: #774268;
  font-size: 20px;
  background-color: #fff;
  border: none;
}
.header__zakazZvonka:hover {
  font-size: 22px;
}
.header {
  background-color: #fff;
  padding: 0;
  width: 100%;
}
html {
  height: 100%;
}
.img_float_left img {
  float: left;
}
@media only screen and (max-width: 480px) {
  .img_float_left img {
    float: inherit;
  }
}
.img_float_right img {
  float: right;
}
@media only screen and (max-width: 480px) {
  .img_float_right img {
    float: inherit;
  }
}
.metaslider .slides .caption-wrap .caption {
  font-family: titleFont;
  font-size: 27px;
  text-transform: uppercase;
  padding: 15px 20px;
}
@media only screen and (max-width: 767px) {
  .metaslider .slides .caption-wrap .caption {
    font-size: 20px;
    padding: 10px 15px;
  }
}
.sidebar__nav {
  margin-top: 40px;
  font-size: 19.8px;
}
@media only screen and (max-width: 991px) {
  .sidebar__nav {
    font-size: 18px;
  }
}
.sidebar__nav ul {
  list-style-type: none;
}
.sidebar__nav ul > li {
  border-top: 2px solid #ebd3e3;
  padding: 5px;
}
.sidebar__nav ul > li:first-child {
  border-top: none;
}
.site__header {
  position: relative;
  z-index: 2;
}
.site {
  min-width: 320px;
  max-width: 1920px;
  width: 100%;
  min-height: 100%;
  position: relative;
  padding-bottom: 120px;
  overflow: hidden;
}
.site__content {
  margin: 0;
}
@media only screen and (max-width: 480px) {
  .site__content {
    margin: 30px 0 30px;
  }
}
.site__sidebar {
  margin: 50px 0 50px;
}
@media only screen and (max-width: 480px) {
  .site__sidebar {
    margin: 30px 0 30px;
  }
}
.site__footer {
  min-width: 320px;
  max-width: 1920px;
  width: 100%;
  height: 120px;
  position: absolute;
  bottom: 0;
}
.social__link {
  background-color: secondColor3;
  color: #c0a2c5;
  font-size: 32px;
  text-align: center;
  width: 45px;
  height: 45px;
  margin: 0 7px;
}
@media only screen and (max-width: 767px) {
  .social__link {
    font-size: 27px;
    height: 35px;
    width: 35px;
  }
}
@media only screen and (max-width: 480px) {
  .social__link {
    font-size: 25px;
    margin: 0 3px;
  }
}
.social__link:focus {
  outline: 0;
}
.social {
  position: absolute;
  right: 25px;
  top: 5px;
}
@media only screen and (max-width: 767px) {
  .social {
    right: inherit;
    left: 15px;
  }
}
@media only screen and (max-width: 480px) {
  .social {
    left: 0;
  }
}
