.content__delimiter
  border-bottom 1px solid themeColor
  margin 70px 15px
  text-align center
  +responsive(md)
    margin 50px 15px
  +responsive(xs)
    margin 20px 15px
  img
    max-width 70px
    margin-bottom -40px